*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
}

html{
    font-size: 10px;
    font-family: 'Segoe UI', Roboto, Verdana, sans-serif;
}

header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 40px;
    position: sticky;
    top: 0px;
    background-color: white;
}

nav.desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-left: 19px;
    background-color: white;
}

nav.mobile{
    display:none;
}

nav ul.nav-items{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
nav ul li{
    list-style-type: none;
    font-size: 16px;
    
    color: #022b69;
    
}

nav button{
    padding: 12px;
    border-radius: 6px;
    margin-left: 15px;
    font-weight: 600;
}

nav button.login{
    color: #0066F5;
    background-color: #fff;
    border: 1px solid #0066F5;
}

nav button.signup{
    color: #fff;
    background-color: #0066F5;
}

section.hero{
    padding: 70px 40px 80px;
    color: #022B69;
    width: 100%;
}

.frontpage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 20px;
}
.hero h1{
    font-size: 5.46rem;
    
}

.hero .frontpage p{
    font-size: 1.8rem;
    padding-bottom: 24px;
}

.download-links a img{
    outline: none;
    display: inline;
    width: 150px;
    height: 65px;
}

.hero-image{
    width: 100%;
    overflow: hidden;
}

.license{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 1px 4px 1px#dbdbdb;
    border-radius: 6px;
    width: 200px;
    height: 50px
}
.license img{
    width: 35px;
}

.license h3{
    font-size: 1.45rem;
    line-height: 0;
    margin-left: 7px;
}

.license p{
    font-size: 1rem;
    line-height: 0;
    margin-left: 7px;
}

/* features section */

.features{
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
}

.features-caption{
    margin-bottom: 8rem;
}

.features-caption h1{
    font-size: 4.86rem;
    color: #022b69;
    margin: 0;
}

.features-caption p{
    font-size: 1.8rem;
    color: #022b6999;
}

.featureblock{
    border-radius: 20px;
    padding: 48px;
    height: 700px;
    overflow: hidden;
    margin-bottom: 40px;
}

.featureblock h2{
    font-size: 2.1rem;
    color: rgba(2,43,105,.6);
    font-weight: 600;
}

.featureblock h1{
    font-size: 3.45rem;
    color: #022b69;

}

.featureblock p{
    font-size: 1.8rem;
    color: rgba(2,43,105,.6);
}

.featureblock h3{
    font-size: 1.25rem;
    color: #0066f5;
}

.featureblock img{
    max-width: 300px;
    padding-top: 12%;
}

.feature-images{
    text-align: center;
}

.lightblue{
    background-color: #f4f6ff;
}

.lightpink{
    background-color: #fff6ee;
}

.hideblue{
    background-color: #f5f6fa;
}

.deepblue{
    background-color: #0066f5;
}
.deepblue h1, .deepblue h2, .deepblue h3{
    color: #fff;
}

.deepblue p{
    color: hsla(0,0%,100%,.6);
}

/* Steps */

.steps{
    background-color: #fcfcfc;
    color: #022b69;
    margin-top: 40px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.steps-image{
    text-align: center;
}
.steps img{
    width: 400px;
}

.steps-text{
    width: 60%;
}

.steps-text h1{
    font-size: 3.9rem;
    color: #022b69;
    position: relative;
    padding-bottom: 30px;
}

.step-index{
    padding-bottom: 5px;
}

.step-index h3{
    font-size: 2.4rem;
}

.step-index p{
    font-size: 1.8rem;
}

.steps-text button{
    padding: 10px 15px;
    background-color: #0066f5;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    margin-top: 24px;
}

/* security */

.security{
    background-color: #0066f5;
    color: #fff;
    font-weight: 400;
    padding: 30px 40px 150px;
}

.sec-head{
    width: 40%;
}

.security h1{
    font-size: 4.86rem;
    font-weight: 500;
}

.security h2{
    font-size: 1.8rem;
    font-weight: 400;
}

.security h3{
    font-size: 1.25rem;
    color: #fffc;
    padding-top: 20px;
}

.sec-items{
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    list-style-type: square;
    font-size: 3rem;
}

.sec-item h4{
    font-size: 2.1rem;
    font-weight: 600;
}

.sec-item p{
    font-size: 1.8rem;
    color: #ffffffcc;
}

/* Reason */

.reason{
    padding: 50px 40px 0px;
}
                                                         
.reason h1{
    font-size: 1.6rem;
    color: #022b69;
}

.switch h2{
    font-size: 4rem;
    color: #022b6966;
}
.switch span{
    color:#022b69;
}

/* Quote */
.quote{
    display: flex;
}

.quote img{
    width: 50%;
}

.quote-text{
    background-color: #A6F4F0;
    padding-left: 4%;
    padding-top: 20px;
}

.quote-text p{
    font-size: 3.45rem;
    color:#022b69;
    font-weight: 700;
    width: 60%;
}

.quote-text h4{
    font-size: 1.74rem;
    display: inline;
    color:#022b69;
    font-weight: 500;
}

.quote-text h5{
    font-size: 1.2rem;
    display: inline;
    color:#022b6988;
}

/* Download */
.download{
    padding: 100px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.store{
    color:#022b69;
    padding: 10px 20px;
    width: 360px;
    border: solid 1px #dfd8d8;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 1px#dbdbdb;
    margin-bottom: 30px;
}

.download-top{
    display: flex;
    justify-content: space-between;
}
.store h2{
    font-size: 4rem;
    display: inline;
}

.store h5{
    font-size: 2rem;
    color: #022b69aa;
    display: inline;
}

.store img{
    width: 11.8rem;
}

.store h1{
    font-size: 2.1rem;
    font-weight: 500;
}

.store p{
    font-size: 1.3rem;
    color: #6c82a3;
}

.store h4{
    font-size: 1.25rem;
    color: #0066F5;
    /* padding-top: 44px; */
}

/* signup section */

.signup-section{
    background-color: #0066f5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    margin: 0 40px;
    padding: 30px 0px;
    box-shadow: 0px 0px 12px 0px #0066f566;
}

.signup-section h1{
    font-size: 3.9rem;
    color: #fff;
    width: 40%;
}

.mobile-input{
    display: none;
}

.signup-section span{
    background-color: #ffffff40;
    padding: 20px 0;
    border-radius: 8px;
    height: 50px;
    display: flex;
    align-items: center;
}

.signup-section input{
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}

.mobile-input span{
    display: none;
}

.signup-section input::placeholder{
    color: #fff;
    font-size: 1.5rem;
    padding-left: 20px;
}

.signup-section button{
    background-color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    color:#022b69;
    font-weight: 600;
    border-radius: 8px;
    margin: 0;
    height: 42px;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 40px 0px;
}

.footer-item h1{
    font-size: 2rem;
    color: #022b69;
}

.footer-item h2{
    font-size: 1.46rem;
    color: rgba(2,43,105,.6);
    font-weight: 500;
    line-height: 20px;
}

/* sec */

hr{
    width: 95%;
    margin-top: 20px;
    margin: auto;
    background-color: #3f85e8;

}
.socials{
    margin-left: 40px;
    margin-top: 40px;
    color: #6780A5;
    font-size: 22px;
    padding-left: 15px;
}
.icons{
    margin-right: 10px;
}
.icons:hover{
    color: #3f85e8;
    cursor: pointer;
}
.location{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

h6{
    padding-top: 20px;
    color:#022b69;
    font-size: 14px;
}
.last-text{
    margin-bottom: 20px;
}
.last-text p{
    font-size: 1rem;
    margin: 15px 40px;
    color: #ADBBCC;
    
}
.funds{
    color: #3f85e8;
}

.smiley{
    font-size: 40px;
    border-radius: 50px;
    background-color: #0067F5;
    padding: 13px;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 6%), 0 2px 32px 0 rgb(0 0 0 / 16%);
    float: right;
    margin-right: 40px;
    margin-top: 40px;
    position: fixed;
    right: 10px;
    bottom: 15px;

}
@media only screen and (max-width: 800px){
    html{
        font-size: 8px;
    }

    header{
        padding: 0px 10px;
    }

    section.hero{
        padding-top: 20px;
    }

    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: flex;
    }

    .frontpage{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero h1{
        font-size: 5rem;
        
    }

    .download-links a img{
        outline: none;
        display: inline;
        width: 120px;
    }

    .hero-image{
        display: none;
    }

    .license{
        width: 180px
    }

    .features{
        grid-template-columns: 1fr;
        
    }

    .featureblock{
        width: 100%;
    }
    .featureblock img{
        width: 100%;   
    }

    .steps{
        grid-template-columns: 1fr;
        margin: 190px auto auto;
        width: 100vw;
        padding: 0px 30px 80px;
    }

    .steps-image{
        display: none;
    }

    .steps-text{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .steps-text h1{
        text-align: center;
    }
    
    .sec-head{
        width: 100%;
    }
    .sec-items{
        grid-template-columns: 1fr;
        width: 100%
    }

    .reason{
        padding-top: 20px;
    }

    .quote{
        flex-direction: column;
    }

    .quote img{
        width: 100%;
    }

    .quote-text{
        padding-bottom: 40px;
    }

    .quote-text p{
        width: 90%;
        font-size: 3rem;
    }

    .signup-section{
        padding-left: 20px;
    }
    .signup-section h1{
        width: 100%;
    }

    .desktop-input{
        display: none;
    }
    .mobile-input{ 
        display: block;
    }

    .mobile-input span{
        display: flex;
        height: 40px;
        width: 250px;
        margin-bottom: 20px
    }

    .mobile-input button{
        padding: 1.5rem;
    }

    
    
}
